# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (Runs every 10 minutes.)
  schedule: [{cron: "*/10 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: DenuxPlays
          template: classic
          base: header, activity, community, repositories
          config_timezone: Europe/Berlin

          # Lines and Calendar
          plugin_lines: no
          plugin_isocalendar: yes
          
          #languages
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage
          commits_authoring: Timon Klinkert, DenuxPlays, DenuxPlays@users.noreply.github.com

          # WakaTime
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_days: 365
          plugin_wakatime_repositories_visibility: public

